h1 {
  font-family: "cooper-black-std" ;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

#holder {
	width: 100% ; 
  }

#keeper {
	width: 30%;
	margin-left: auto;
    margin-right: auto;
    text-align: center;

}

img {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}


